body {
    text-align: center;
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
    color: goldenrod;
    background-color: black;
  }
  
  p {
    text-align: center;
  }
  
  input[type=number] {
    margin: 10px;
  }
  
  button {
    color: goldenrod;
    background-color: black;
    display: block;
    margin: 10px auto;
  }
  